// .product-card{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     padding-top: 20px;
//     justify-content: space-evenly;
//     // margin: 16px auto;

// }
// .container {
//     display: flex;
//     flex-direction: column; /* Stack elements vertically */
//     align-items: center; /* Center horizontally */
//     padding: 20px; /* Add some padding around the container */
//   }
  

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .image-section {
    flex-shrink: 0;
    margin-right: 15px;
  }
  
  .image-section img {
    max-width: 120px; /* Adjust based on your design */
    max-height: 160px; /* Adjust based on your design */
    border-radius: 8px;
  }
  
  .details-section {
    display: flex;
    flex-direction: column;
  }
  
  .details-section h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .author, .price, .quantity {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
  }
  
  .price {
    font-weight: bold;
  }
  
  .quantity {
    color: #333;
  }
  
  .no-favorites-message {
    font-size: 1.2em;
    color: #777;
    text-align: center;
  }
  .mat-icon-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }