<div class="order-details">
  <h4>Orders</h4>
  @for (order of orders; track $index) {
  <div class="each-order">
    <p>Order ID: {{ order.orderId }}</p>
    <p>Order Date: {{ order.date }}</p>
    <h3>Items</h3>
    <div class="items">
      @for (item of order.items; track $index) {
      <div class="single-item">
        <img
          src="{{ item.image }}"
          alt="{{ item.name }}"
          width="200px"
          height="200px"
        />
        <div>
          <p>{{ item.name }} - Quantity: {{ item.quantity }}</p>
          <p>Total: {{ item.price * item.quantity | currency }}</p>
        </div>
      </div>
      }
    </div>
    <p>Grand Total : {{ order.total | currency }}</p>
  </div>
  }
</div>
