<div class="order-details">
  <h4><span class="bold-span" style="font-weight: bold">Orders</span></h4>
  @for (order of orders; track $index) {
  <div class="each-order">
    <p>Order ID: {{ order.orderId }}</p>
    <p>Order Date: {{ order.date }}</p>
    <h3><span class="bold-span" style="font-weight: bold">Items</span></h3>
    <div class="items">
      @for (item of order.items; track $index) {
      <div class="single-item">
        <img
          src="{{ item.imageURL }}"
          alt="{{ item.title }}"
          width="250px"
          height="250px"
        />
        <div>
          <p>
            <span style="font-weight: bold">{{ item.title }}</span> - Quantity:
            {{ item.qty }}
          </p>
          <p>Total: {{ item.price * item.qty | currency }}</p>
        </div>
      </div>
      }
    </div>
    <p>Grand Total : {{ order.total | currency }}</p>
  </div>
  }
</div>

<!-- <div *ngIf="!hasOrders">
  <p>No orders to display.</p>
</div> -->

<!-- *ngIf="orders.length > 0; else noOrders" -->
