<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="username" type="email" required />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="loginForm.get('username')?.hasError('email')"
            >Invalid email</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
            [attr.aria-pressed]="!hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>

        <!-- 
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required</mat-error
          >
        </mat-form-field> -->

        <div class="login-buttons">
          <button mat-raised-button color="primary" type="submit">Login</button>
          <button mat-button (click)="onSignup()">Sign Up</button>
        </div>
        <!-- <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div> -->
      </form>
    </mat-card-content>
  </mat-card>
</div>
