<button (click)="placeOrder()" mat-button>
  <span class="material-symbols-outlined"> Place order</span>
</button>

<div class="whole-page">
  @for(cartItem of ProductsList ; track $index){
  <div class="container">
    <img src="{{ cartItem.image }}" alt="" />
    <div class="content">
      <h3>{{ cartItem.name }}</h3>
      <p>Quantity : {{ cartItem.quantity }}</p>
      <p>price : {{ cartItem.price | currency }}</p>
      <p>total : {{ cartItem.quantity * +cartItem.price | currency }}</p>
      <button (click)="removeFromCart(cartItem)" mat-button>
        <span class="material-symbols-outlined">Remove From Cart</span>
      </button>
    </div>
  </div>
  }
  <div class="grand-total">
    <h3><span>Grand Total:</span> {{ Total | currency }}</h3>
  </div>
</div>

<!-- <mat-card appearance="outlined" class="card">
  <mat-card-content>
    <div class="outer">
      <div class="main">
        <img src="{{ Products.image }}" alt="" />
        <div class="title">
          <h2>{{ Products.name }}</h2>
        </div>
        <div class="price">
          <p>{{ Products.description }}</p>
        </div>
        <button mat-raised-button (click)="deleteProduct(Products.id)">
          delete
        </button>
      </div>

      <div class="cost">
        <h1>Quantity:{{ Products.quantity }}</h1>
        <h1>{{ Products.price }} * {{ Products.quantity }}</h1>
        <button mat-raised-button (click)="orders()">Buy</button>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->
