<header>
  <nav>
    <ul>
      <li>
        <a href="/"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon
        ></a>
      </li>
      |
      <li>
        <a href="/login"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="person"
          ></mat-icon
        ></a>
      </li>
      |
      <li><a href="/products">Products</a></li>
      |
      <li>
        <a href="/cart"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add_shopping_cart"
          ></mat-icon
        ></a>
      </li>
      |
      <li><a href="/orders">Orders</a></li>
    </ul>
  </nav>
</header>
<router-outlet />
