<header>
  <nav>
    <ul>
      <li>
        <a href="/"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
            >Home</mat-icon
          ></a
        >
      </li>
      |
      <li>
        <a href="/login"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="person"
            >Login</mat-icon
          ></a
        >
      </li>
      |
      <li>
        <a href="/products"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="shopping_bag"
            >Products</mat-icon
          ></a
        >
      </li>
      |
      <li>
        <a href="/cart"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add_shopping_cart"
            >Cart</mat-icon
          ></a
        >
      </li>
      |
      <li>
        <a href="/orders"
          ><mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="assignment"
            >Orders</mat-icon
          ></a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet />
