header {
  position: sticky;
  top: 0;
  background-color: #333; /* Background color to avoid content overlapping */
  z-index: 1000; /* Ensure it's above other content */
  padding-bottom: 10px 0;
  
}
nav {
    // padding-bottom: 10px;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
     align-items: center;
   
  }
  .logo img {
    height: 40px; /* Adjust as needed */
    width: auto;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  