<div class="container">
  <div class="search-bar">
    <form [formGroup]="searchForm" class="search-form">
      <mat-form-field appearance="fill">
        <mat-label><mat-icon>search</mat-icon> Search for Books</mat-label>
        <input matInput formControlName="search" placeholder="Ex: Love" />
      </mat-form-field>
    </form>
  </div>
  <!-- <div *ngIf="isAdmin" class="add-product-container">
    <app-add-product></app-add-product>
  </div> -->
  <div *ngIf="isAdmin" class="add-product-container">
    <button mat-raised-button color="primary" (click)="openAddProductDialog()">
      <!-- <mat-icon>add</mat-icon> -->
      ADD NEW PRODUCT
    </button>
  </div>

  <div *ngIf="isLoading" class="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading && products.length == 0" class="no-results">
    No results found
  </div>
  <!-- <button
    *ngIf="isAdmin"
    mat-fab
    color="primary"
    class="fab"
    (click)="openAddProductDialog()"
  >
    <mat-icon>add</mat-icon>
  </button> -->

  <div class="product-card">
    <!-- @if (isLoading) {
    <h1>Loading....</h1>} -->
    @for(product of products; track products.id){
    <app-products
      [bookId]="product.bookId"
      [product]="product"
      (addItemEvent)="addOneProduct($event)"
    />
    }
  </div>
  <!-- <mat-paginator
    [length]="products.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator> -->
  <!-- (deleteItem)="deleteItem($event)"
  [id]="movie.id" -->
</div>
