<div class="container">
  <div class="search-bar">
    <form [formGroup]="searchForm" class="search-form">
      <mat-form-field appearance="fill">
        <mat-label>Search for Books</mat-label>
        <input matInput formControlName="search" placeholder="Ex: Love" />
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="isLoading" class="loading">
    <h3 style="font-weight: bolder">Loading books...</h3>
  </div>

  <div *ngIf="!isLoading && products.length == 0" class="no-results">
    No results found
  </div>

  <div class="product-card">
    <!-- @if (isLoading) {
    <h1>Loading....</h1>} -->
    @for(product of products; track products.id){
    <app-products
      [bookId]="product.bookId"
      [product]="product"
      (addItemEvent)="addOneProduct($event)"
    />
    }
  </div>
  <!-- (deleteItem)="deleteItem($event)"
  [id]="movie.id" -->
</div>
