<mat-card class="wholecontainer">
  <div class="container">
    <img src="{{ product.image }}" alt="Extraordinary" />
    <div class="headingAndRating">
      <h1>
        {{ product.name }}
      </h1>
      <p class="price">
        {{ product.price }}
      </p>
    </div>

    <div class="info-add">
      <button mat-icon-button routerLink="{{ product.id }}" class="info">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-raised-button (click)="addToCart()">➕Add To Cart</button>
    </div>
  </div></mat-card
>
