<mat-card class="wholecontainer">
  <div class="container">
    <img src="{{ product.image }}" alt="Extraordinary" />
    <div class="headingAndRating">
      <h1>
        {{ product.name }}
      </h1>
      <p class="price">
        {{ product.price }}
      </p>
    </div>

    <button mat-icon-button routerLink="/products/{{ id }}" class="info">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-raised-button (click)="addTocart(product)">
      ➕Add To Cart
    </button>
  </div></mat-card
>
