.edit-product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .edit-product-container h2 {
    text-align: center;
    margin-bottom: 24px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  button {
    align-self: flex-end;
  }
  